@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: "Georama", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}